@{
    ViewData["Title"] = "首页";
}

<div class="jumbotron">
    <h1>Tensun Cloud</h1>
    <br/>
    <h2>&nbsp;&nbsp;the ASP.Net Core Demo Projects.</h2>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>我们的产品</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
        <p><a class="btn btn-default" href="#">官网产品信息&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>我们的项目</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
        <p><a class="btn btn-default" href="#">更多案例&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>项目信息管理</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <p><a class="btn btn-default" href="~/home/about">关于本系统&raquo;</a></p>
    </div>
</div>